NEXT_PUBLIC_RPC=http://127.0.0.1:8545
NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_DID_REGISTRY=
NEXT_PUBLIC_CARRIER_CRED=
NEXT_PUBLIC_CONSIGNMENT=
NEXT_PUBLIC_CUSTODY=
NEXT_PUBLIC_MERKLE=
NEXT_PUBLIC_FREIGHT_TOKEN=
NEXT_PUBLIC_ESCROW=
